/*
 * Copyright 2022 Guillaume Gonthier. All rights reserved.
 * Use of this source code is governed by a MIT style license that can be found in the LICENSE.md file.
 */

#mapid {
    width: 1600px;
    height: 900px;
}

.carousel-caption {
    padding: 0;
    position: relative;
    left: 0;
    top: 0;
}

.h5, h5 {
    color: white;
    font-size: 20px;
    font-weight: bolder;
    margin-top: 4px;
    margin-bottom: 0;
}

.span, span {
    color: white;
    font-size: 16px;
    font-weight: bolder;
}
